<h2 class="app-title">Angular To-do-List</h2>
<app-input-box (add-to-do)="getToDo($event)"></app-input-box>
<div class="status">
    <a href="#" [class.active]="viewMode=='todo'" (click)="viewMode = 'todo'">To-Do</a>
    <a href="#" [class.active]="viewMode=='done'" (click)="viewMode = 'done'">Done</a>
</div>
<ng-container [ngSwitch]="viewMode">
    <app-item-box [item-list]="todoList" (del-item)="deleteFromList($event)" *ngSwitchCase="'todo'"></app-item-box>
    <app-item-box [done-list]="doneList" *ngSwitchCase="'done'" class="done"></app-item-box>
</ng-container>